        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
                Catalog Detail
            </h4>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">name:&nbsp{{catalog.name}}
                </li>

                <li class="list-group-item list-group-item-info">description:&nbsp{{catalog.description}}
                </li>

                <li class="list-group-item list-group-item-warning">createDate:&nbsp{{catalog.createDate}}
                </li>
            </ul>
        </div>