<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">
        Add Catalog
    </h4>
</div>
<div class="modal-body">
    <form name="catalogForm">
        <div class="well">
            <div class="form-group">
                <label>Name</label>
                <input name="name" class="form-control"
                       ng-model="catalog.name" required />
                 <span class="error" ng-show="catalogForm.name.$error.required">
                    Please enter catalog name
                </span>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input name="description" class="form-control"
                       ng-model="catalog.description" />

            </div>

            <div class="text-center">
                <button ng-disabled="catalogForm.$invalid"
                        ng-click="submit(catalog)"
                        class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </form>

</div>


