<div class="col-md12">

    <section class="content-header">
        <h2>
            Create Blue Print
        </h2>
    </section>

    <div class="box box-primary">
        <form role="form" name="bluePrintForm">
            <div class="box-body">
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" class="form-control" ng-model="blueprint.name" required placeholder="please input blueprint name...."/>

                    <span class="error" ng-show="bluePrintForm.name.$error.required">
                        Please enter blueprint name
                    </span>

                </div>

                <div class="form-group">
                    <label>BluePrint</label>
                    <input name="blueprint" class="form-control" ng-model="blueprint.blueprint" ng-pattern="/^(http|https)://(.*?)zip$/" required placeholder="please input blueprint url...."/>

                    <span class="error" ng-show="bluePrintForm.blueprint.$error.required">
                        Please enter blueprint url
                    </span>

                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-primary" ng-click="submit(blueprint)" ng-disabled="bluePrintForm.$invalid">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

