<div ng-controller="BluePrintDetailController" class="container-fluid">

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                View Blueprint
                <small>view blueprint details</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/blueprint"><i class="fa fa-dashboard"></i> Blueprint </a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body table-responsive">
                        <div class="col-md-6">
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">BluePrint</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <dl>
                                        <dt>Blueprint Name</dt>
                                        <dd>{{blueprint.name}}</dd>
                                        <dt>deployment Shutdown Duration</dt>
                                        <dd>{{blueprint.deploymentShutdownDuration}}</dd>
                                        <dt>deployment Teardown Duration</dt>
                                        <dd>{{blueprint.deploymentTeardownDuration}}</dd>
                                        <dt>Blueprint Content</dt>
                                        <textarea name="blueprint" ng-trim="false" rows="20" class="form-control noresize" id="bpdetailcontent"  disabled="disabled">{{blueprint.blueprint}}</textarea>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer pull-left">
                        <a href="#/blueprint">Back</a>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
