<div class="container-fluid">

    <section class="content-header">
        <h2 ng-if="!isedit">
            Create Blueprint
        </h2>
        <h2 ng-if="isedit">
            Edit Blueprint
        </h2>
        <ol class="breadcrumb">
            <li><a href="#/blueprint"><i class="fa fa-dashboard"></i> Blueprint </a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form role="form" name="bluePrintForm">
                        <div class="box-body">
                            <div class="row">
                               <div class="form-group col-md-4">
                                  <label>Blueprint Name</label>
                                  <input name="name" class="form-control" ng-model="blueprint.name" required placeholder="please input blueprint name...."/>
                                  <span class="error" ng-show="bluePrintForm.name.$error.required">
                                       blueprint name is empty
                                  </span>
                                </div>
                            </div>

                            <div class="row">
                               <div class="form-group col-md-3">
                                  <label>Deployment Shutdown Duration</label>
                                 <!-- <input name="name" class="form-control" ng-model="blueprint.deploymentShutdownDuration" required placeholder="please input shutdown duration...."/>-->
                                   <input type="number" class="form-control" name="leaseTime" ng-model="blueprint.leaseTime"
                                          min="0" required>
                                   <span class="error" ng-show="bluePrintForm.leaseTime.$invalid">
                                       shutdown duration is not valid
                                   </span>
                               </div>
                            </div>

                            <div class="row">
                               <div class="form-group col-md-3">
                                  <label>Deployment TearDown Duration</label>
                                  <!--<input name="name" class="form-control" ng-model="blueprint.deploymentTeardownDuration" required placeholder="please input teardown duration...."/>-->
                                   <input type="number" class="form-control" name="archiveTime" ng-model="blueprint.archiveTime"
                                          min="0" required>
                                   <span class="error" ng-show="bluePrintForm.archiveTime.$invalid">
                                       teardown duration is not valid
                                   </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label>Blueprint</label>
                                    <!--<input name="blueprint" class="form-control" ng-model="blueprint.blueprint" required placeholder="please input blueprint content...."/>-->
                                    <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <div class="box-group">
                                                <div class="panel box box-danger">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" ng-click="setTemplateType('Openstack')">
                                                                Openstack Templates
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div class="panel-collapse collapse in" ng-if="templateType == 'Openstack'">
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="tp in templates">
                                                                    <td>
                                                                        <a>
                                                                            {{tp.name}}
                                                                            <i ng-click="addTemplate(tp.content)" class="fa fa-arrow-circle-right"/>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="panel box box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" ng-click="setTemplateType('vSphere')">
                                                                vSphere Templates
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div class="panel-collapse collapse in" ng-if="templateType == 'vSphere'">
                                                        <div class="box-body">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-xs-6">
                                            <textarea name="blueprint" ng-trim="false" rows="20" class="form-control" ng-model="blueprint.blueprint"></textarea>
                                            <span class="error" ng-show="bluePrintForm.blueprint.$error.required">
                                                blueprint content is empty
                                            </span>
                                        </div>

                                        <div class="pull-right form-save">
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button ng-if="!isedit" type="submit" class="btn btn-primary" ng-click="submit(blueprint)" ng-disabled="bluePrintForm.$invalid">Submit</button>
                                            <button ng-if="isedit" type="submit" class="btn btn-primary" ng-click="save(blueprint)" ng-disabled="bluePrintForm.$invalid">Save</button>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-lg-3 col-xs-6">
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr>
                                                        <th>Openstack Templates</th>
                                                    </tr>
                                                    <tr ng-repeat="tp in templates">
                                                        <td>
                                                            <a>
                                                                {{tp.name}}
                                                                <i ng-click="addTemplate(tp.content)" class="fa fa-arrow-circle-right"/>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-9 col-xs-6">
                                            <textarea name="blueprint" ng-trim="false" rows="20" class="form-control" ng-model="blueprint.blueprint"></textarea>
                                            <span class="error" ng-show="bluePrintForm.blueprint.$error.required">
                                                blueprint content is empty
                                            </span>
                                        </div>

                                        <div class="pull-right form-save">
                                            <button type="button" class="btn btn-primary" ng-click="back()">Back</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button ng-if="!isedit" type="submit" class="btn btn-primary" ng-click="submit(blueprint)" ng-disabled="bluePrintForm.$invalid">Submit</button>
                                            <button ng-if="isedit" type="submit" class="btn btn-primary" ng-click="save(blueprint)" ng-disabled="bluePrintForm.$invalid">Save</button>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

