<div ng-controller="AdminUserController" class="container-fluid">

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>add/update user here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#/home"><i class="fa fa-dashboard"></i> Admin </a></li>
            <li class="active">User</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">User List</h3>
                    <div class="box-tools pull-right">
                        <input type="text" name="table_search" class="form-control input-sm pull-left" style="width: 150px;" placeholder="Search"/>
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-user-md"></i> <span class="sr-only"></span>Add</button>
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover"
                               st-table="items"
                               st-pipe="load_data">
                            <thead>
                            <tr>
                                <th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in table_columns" st-sort="{{col}}">{{col}}</th>
                            </tr>
                            </thead>

                            <!-- CONTENT -->
                            <tbody>
                            <tr ng-repeat="u in userItems">
                                <td><a ng-click="view(u)">{{u.name}}</a></td>
                                <td>{{u.email}}</td>
                                <td></td>
                                <td>
                                    <div class="btn-group" uib-dropdown>
                                        <button id="split-button" type="button" class="btn btn-danger gridaction">Action</button>
                                        <button type="button" class="btn btn-danger gridaction" uib-dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                            <li role="menuitem">
                                                <a href ng-click="delete(u.name)">Delete</a>
                                            </li>
                                            <li role="menuitem">
                                                <a>Edit</a>
                                            </li>
                                            <li role="menuitem">
                                                <a>Another Action</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                            <!-- PAGINATION -->
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                            <ul>
                                                <li ng-if="prevPageLink != null">
                                                    <a ng-click="getPage(prevPageLink)">
                                                        Prev Page</a>
                                                </li>
                                                <li ng-if="nextPageLink != null">
                                                    <a ng-click="getPage(nextPageLink)">
                                                        Next Page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                </div>
            </div>
            </div>
        </div>
    </section>
</aside>
</div>
