        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
                User Detail
            </h4>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">name:&nbsp{{user.documentSelfLink}}
                </li>

                <li class="list-group-item list-group-item-info">description:&nbsp{{user.email}}
                </li>

                <li class="list-group-item list-group-item-warning">version:&nbsp{{user.documentVersion}}
                </li>
            </ul>
        </div>
