<div ng-controller="DashboardController" class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ng-repeat='Entry in allEntries' ng-click="changeTemplate(Entry)"><a>{{Entry.name}} <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 col-md-offset-2 main">
                <div class="slide-animate" ng-include="templateUrl"></div>
            </div>
        </div>
    </div>
</div>