.ngdialog.ngdialog-theme-default .ngdialog-content{width: 20%}

span.error {color: red; font-weight: bold; font-size: small}

.alertmsg {margin-top: 10px; margin-bottom: 5px; padding: 10px}

.blueprintadd .ngdialog-content{width :50% !important; margin-top: -150px!important;}

.form-save {padding-top: 15px;}

#bpdetailcontent{
    border:none;outline:0;background:#FFF;
}

input[type="number"] {
    width:80px;
}

.noresize {
    resize: none;
}

#notificationmenu{
    width: 320px
}