<div ng-controller="DeploymentDetailController" class="container-fluid">

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                View Deployment
                <small>view Deployment details</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/deployment"><i class="fa fa-dashboard"></i> Deployment </a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{'active' : activeTab == 1}"><a href="" ng-click="setActiveTab(1)" role="tab" data-toggle="tab">Inputs & Outputs</a></li>
                        <li ng-class="{'active' : activeTab == 2}"><a href="" ng-click="setActiveTab(2)" role="tab" data-toggle="tab">Nodes</a></li>
                    </ul>

                    <div class="tab-content">
                        <div ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                            <div class="box-body table-responsive">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header">
                                            <h3 class="box-title">Inputs</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <dl ng-repeat="(key,value) in detail.inputs">
                                                <dt>{{key}}</dt>
                                                <dd>{{value}}</dd>
                                            </dl>
                                        </div>
                                        <div class="box-header">
                                            <h3 class="box-title">Outputs</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <dl ng-repeat="(key,value) in detail.outputs">
                                                <dt>{{key}}</dt>
                                                <dd>{{value}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">
                            <div class="tab-content">
                            <div class="box-body table-responsive">
                                <div class="col-md-12">
                                    <div class="box box-solid">
                                        <div class="box-header">
                                            <h3 class="box-title">Nodes</h3>
                                        </div>
                                        <div class="box-body table-responsive tablecontent nodescontent">
                                            <table class="table table-bordered table-hover table-striped"
                                                   st-table="items">
                                                <thead>
                                                <tr>
                                                    <th ng-repeat="col in table_columns">{{col}}</th>
                                                </tr>
                                                </thead>

                                                <!-- CONTENT -->
                                                <tbody>
                                                <tr ng-repeat="n in nodelist">
                                                    <td>{{n.name}}</td>
                                                    <td>{{n.type}}</td>
                                                    <td>{{n.numberOfInstances}}</td>
                                                    <td>{{n.containedin}}</td>
                                                    <td>{{n.connectedto}}</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                                                Operation <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li ng-repeat="(key,value) in n.operation">
                                                                    <a ng-click="executeOperation(n.name, key, deploymentid)">
                                                                        <i class="ion ion-ios7-people info">{{key}}</i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-search" style="color: #53bbf1;" ng-click="viewNodeDetails(n)"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="box-footer pull-left">
                        <a href="#/deployment">Back</a>
                    </div>
                </div>
            </div>
        </section>
    </aside>
</div>
